# .env

# --- Core Bot Credentials (Required) ---
TELEGRAM_BOT_TOKEN=
BOT_OWNER_ID=
TELEGRAM_BOT_USERNAME=

# --- AI Model Server Configuration (Required) ---
LM_STUDIO_API_BASE=

# --- AI Model Specification ---
# You can use the same model for each one.
# You can also use a different model for each one. 
# They just need to be loaded at the same tim in the LM Studio
LM_STUDIO_CHAT_MODEL=
LM_STUDIO_CREATIVE_MODEL=

# --- Feature Toggles ---
# Set to "1" to enable, "0" to disable.
VECTOR_MEMORY_ENABLED=1
DEBUG_LOGGING=0
PERFORMANCE_REPORTING_ENABLED=0
USER_LOGGING_ENABLED=1